/* ELEMENT STYLING */


/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
 
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    background-image: url("https://cdn.wallpapersafari.com/74/35/4XgZhW.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    display: flex;
}

main {
    width: 75%;
}

header {
    float: left;
    width: 225px;
    height: auto;
    border-radius: 0 0 6px 0;
    padding: 10px;
    margin-right: 10px;
}

nav {
    width: 25vw;
    height: 100vh;
}

ul {
    padding: 11px 0px;
    list-style: none;
}

ul li {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 11px;
}

h1 {
    display: block;
    z-index: 2;
    font-style: italic;
    color: white;
}


/* CLASS STYLING */

/* .resizer { 
    width: 5px;
    top: 0;
    right: 0;
    cursor: col-resize;
    height: 100%;
    position: absolute;
    background-color: black;
}
*/
.animeThumbnail {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.animeThumbnail:hover {
    transform: scale(1.5);
}

.characterVector {
    display: flex;
    width: 200px;
    height: auto;
}


/* ID STYLING */

#animeCompanies {
    /* position: fixed; */
    /* width: 250px; */
    margin-top: 50px;
    background-image: url("https://garden.spoonflower.com/c/9277543/p/f/m/xuoVuPF7n4_y65oZU4DpP1IUEL_qFegVzLUa1CUoJf3tefsjsjY/Demon%20Slaying%20Haori%20Fabric.jpg");
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

#animeCompanies li {
    font-size: 25px;
    margin-top: 10%;
    padding-top: 10%;
    background-color: green;
    border-top-left-radius: 30%;
    
    /* border-top-right-radius: 30%; */
    /* height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#studioImgDisplay {
    display: flex;
    max-width: 500px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

#studioNameDisplay {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
}

#yearDisplay {
    margin: auto;
    text-align: center;
    width: 150px;
    text-decoration-color: black;
    font-weight: bold;
    font-size: 20px;
}

#animeContainer {
    width: 75%;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
}

#animeDisplay {
    margin-top: 100px;
    object-fit: contain;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#vectorContainer {
    width: 75%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}